# Environment variables
.env
.env.*

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swo1
*.swo2

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Dependencies
jspm_packages/

# Testing
.test/**
